.formContainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 377px 1fr;
  gap: 12px;
  max-width: 550px;
}

.lettersList {
  padding: 120px 0 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  list-style-type: none;
}
